<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="2">
	<!--	<groups>
		<run>
			<include name="group1" />
			<exclude name="group2" />
		</run>
	</groups> -->
	<test thread-count="5" name="Test">
		<classes>
			<class name="TestNGActivity.Activity1" />
			<class name="TestNGActivity.Activity2" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->